<div class="password-reset">
    <h2>Forgot Password?</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="email">Email: </label>
            <input id="email" formControlName="email" type="email"/>
            <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched">
            </div>
        </div>
        <button type="submit" [disabled]="resetPasswordForm.invalid">Submit</button>
    </form>
    <div *ngIf="message" class="message">{{ message }}</div>
</div>