<div class="password-reset">
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="email">Email: </label>
            <input id="email" formControlName="email" type="email"/>
            <div ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched">
                <small ngIf="resetPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
                <small ngIf="resetPasswordForm.get('email')?.errors?.['email']">Invalid email format.</small>
            </div>
        </div>
        <button type="submit" [disabled]="resetPasswordForm.invalid">Submit</button>
    </form>
    <div ngIf="message" class="alert">
        <div class="alert-content">
            <span class="close" (click)="closeNotification()">&times;</span>
            <p>{{message}}</p>
        </div>
    </div>
</div>