 <div class="password-reset">
        <h2>Forgot Password</h2>
        <form [formGroup]="restPasswordForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="email">Email</label>
                <input id="email" formControlName="email" type="email"/>
                <div *ngIf="restPasswordForm.get('email')?.invalid && restPasswordForm.get('email')?.touched">
                </div>
            </div>
            <button type="submit" [disabled]="restPasswordForm.invalid">Submit</button>
        </form>
        <div *ngIf="message" class="message">{{ message }}</div>
    </div>