.container{
    max-width: 600px;
    margin: 8em auto;
    padding: 1em;
    background-color: #668F80;
    border-radius: 5px;
    border: 2px solid black;
    height: 50vh;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.signin_title{
    text-align: center;
    margin-bottom: 1rem;
}

.form_name{
    font-weight: bold;
    margin-bottom: 3px;
    margin-left: -0.8rem;
}
.form_control{
    padding: 0.8rem;
    margin-bottom: 2px;
}

.form_control:last-child{
    text-align: center;
    margin-top: 0.5rem;
}

.show{
    width: 50px;
    margin-left: 90%;
    border: none;
    color: #FCFCFC;
    font-weight: bold;
}

.btnsubmit{
    background-color: #4B4A67;
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 60%;
    height: 3rem;
    margin-top: 5px;
    color: white;
}

.btnsubmit:hover{
    background-color: #FCFCFC;
    color: black;
    box-shadow: 0px 0px 0px 2px gray;
    font-weight: bold;
}

.bottom_links{
    text-decoration: underline;
    color: #4B4A67;
    font-weight: bold;
}