<div class = "signin_body">
    <div *ngIf="isLoggedIn" class="login-status">
        <span>{{ isAdmin ? 'Logged in as Admin' : 'Logged in as Helper' }}</span>
      </div>
      <section class = "container">
        <!--Effectively works the same, just added the ngForm operator so we can get the info from the user-->
        <form #signinForm="ngForm" (ngSubmit)="submitForm(signinForm)" class="form">
            <h2 class = "signin_title">Sign in</h2>

            <!-- email -->
            <div class = "form_control input form-control-lg row">
                <p class="form_name">Username</p>
                <!--The only thing different about these inputs is the new ngModel field, just holds the data for checking later.-->
                <input
                    type="text" 
                    id = "username" 
                    name = "username"
                    [(ngModel)]="username"
                    placeholder = "e.g. bobthebuilder4523" 
                    required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            </div>

            <!-- password -->
            <div class = "form_control input form-control-lg row">
                <p class = "form_name">Your Password</p>
                <input 
                    [type]="showPassword ? 'text':'password'" 
                    id = "password" 
                    placeholder="e.g. thisismypass101"
                    [(ngModel)]="password"
                    name = "password">
                <button type = "button" class = "btn btn-sm show" (click) = "togglePasswordVisbility()">show</button>
            </div>

            <!-- submit button -->
            <div class = "form_control">
                <button type = "submit" class = "btnsubmit" [disabled] = "formSubmit">Sign In</button>
            </div>
            
        </form>
        <a routerLink = "/forgotpassword" routerLinkActive = "active" class = "text-end me-4 bottom_links nav-link">Forgot Password?</a>
    </section>

</div>


