.container{
    max-width: 600px;
    margin: 8em auto;
    padding: 1em;
    background-color: #668F80;
    border-radius: 5px;
    border: 2px solid black;
    height: 60vh;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.signin_title{
    text-align: center;
    margin-bottom: 1.5rem;
}

.form_name{
    font-weight: bold;
    margin-bottom: 3px;
    margin-left: -0.8rem;
}
.form_control{
    padding: 0.8rem;
}

.input{
    background-color: #FCFCFC;
    border-radius: 0px;
}

.form_control:last-child{
    text-align: center;
    margin-top: 0.5rem;
}