<div class = "mt-4">  
    <h1 class = "title">Pawsitive Connections</h1>
    <div class = "body">
        <p>Pawsitive Connections is a humanitarian website that supports pet owners and animal shelters by fulfilling their needs financially. Donations of all kinds are accepted, whether it be monetary or physical items. We also have an adoption page if you would like to help a pet find a new home!</p>
    </div>

    <div class = "button_group">
        <button class="button_link" routerLink="/cupboard" routerLinkActive = "active">Donation page</button>
        <button class="button_link" routerLink="/adoption" routerLinkActive = "active">Adoption page</button>
    </div>    
</div>