<div class = "mt-4">  
    <header>
        <h1 class = "title">Pawsitive Connections</h1>
    </header>
    <main>
        <p class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quod nulla, minima recusandae aspernatur quisquam ipsa eveniet accusamus quia mollitia, ad amet praesentium molestias. Quisquam hic maiores explicabo eaque at illo corrupti, suscipit ullam expedita deleniti magni doloribus rem necessitatibus vero rerum consectetur officiis fuga ea! Odio deserunt rem, molestias minus velit esse maxime maiores perferendis laudantium beatae quisquam dolorem aspernatur sunt magni suscipit voluptatibus facere earum ullam sed assumenda dicta inventore consequuntur nobis. Odio, a laboriosam. Nam enim nobis placeat reprehenderit eius illum maxime expedita commodi non officiis velit est natus delectus, veritatis quidem? Laboriosam, assumenda? Officia, iure error.</p>
    
        <ul class="links">
            <li><button class="donate">Donation page</button></li>
            <li><button class="adopt" routerLink="/adoption" routerLinkActive = "active">Adoption page</button></li>
            <li>
                <ul class="m">
                    <li><Button class="discord">Discord</Button></li>
                    <li><Button class="other">Other</Button></li>
                </ul>
            </li>
        </ul>
        <img src="https://placehold.co/300x200" alt="dogs or sumthin">
    </main>
    <footer>
        <h1></h1>
    </footer>
</div>