/* page global items */
*{
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
}
/* on page title only will replace with a proper logo later*/
h1{
    font-weight: bolder;
    font-size:1.5em;
    text-align: center;
}

.mt-4{
    display:flow;
}
.title{
    text-align: center;
    margin:5em;
}

main{
    width:70em;
    margin:2em;
    display: grid;
    justify-self:center;
    grid-template-columns: 40em 20em;
    grid-template-rows: 8fr 2fr;
    grid-template-areas:    "page links" 
                            "page image";
}
.links{
    display:grid;
}
ul.links{
    grid-area: links;
}
img{
    grid-area: image;
}
.body{
    grid-area: page;
}
footer{
    background-color: #4b4a67;
    min: height 10em;;
    width:100vw;
}