*{
    font-size: 1em;
    text-align: center;
    display: grid;    
}



.title{

}
.body{
    max-width: 80%;
    margin: 3em auto;
    padding: 1em;
    border-radius: 5px;
}
.button_group{
}
.button_link{
    border-radius: 5px;
    width: 10%;
    height: 3em;
}