<div class = "signin_body">
    <section class = "container">
        <form class = "form">
            <h2 class = "signin_title">Sign in</h2>
            <!-- email -->
            <div class = "form_control input form-control-lg row">
                <p class="form_name">Your email</p>
                <input type="email" id = "email" placeholder = "e.g. bobthebuilder@gmail.com" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">


                <!-- Will add validation stuff soon -->
            </div>

            <!-- password -->
            <div class = "form_control input form-control-lg row">
                <p class = "form_name">Your Password</p>
                <input [type]="password" id = "password" placeholder="e.g. thisismypass101" name = "password">
            </div>



            <!-- submit button -->
            <div class = "form_control">
                <button type = "submit" class = "btnsubmit" [disabled] = "formSubmit">Sign In</button>
            </div>
            
        </form>
        <a routerLink = "/forgotpassword" routerLinkActive = "active" class = "text-end me-4 bottom_links nav-link">Forgot Password?</a>
    </section>
</div>