
<body>
  

    <div class="header">
        <h1>Adopt a Pet!</h1>
        <p>Adopt your own pet!</p>
    </div>

    <div class="container">
        <div class="profiles">
            <div class="profile-card">
                <img src="ufund-ui\src\assets\Juan.png" alt="Juan" class="profile-image">
                <div class="profile-info">
                    <h3>Juan</h3>
                    <p>Type: Cat</p>
                    <p>Gender: Male </p>
                    <p>Age: 3 years old</p>
                    <p>Location: Greece,NY</p>
                    <p class="languages">Languages: English, Spanish, French</p>
                    <a href="interpreter_profile.html?id=1" class="view-profile">View Profile</a>
                </div>
            </div>

            <div class="profile-card">
                <img src="360_F_110790299_wdE1KqnWAlkjlfD8nujgEWuTtLzAnzxa.jpg" alt="Ricky" class="profile-image">
                <div class="profile-info">
                    <h3>Ricky</h3>
                    <p>Type: Cat</p>
                    <p>Age: 3 years old</p>
                    <p>Gender: Male </p>
                    <p>Location: Henrietta,NY</p>
                    <a href="interpreter_profile.html?id=2" class="view-profile">View Profile</a>
                </div>
            </div>

            <div class="profile-card">
                <img src="istockphoto-1288538088-612x612.jpg" alt="Priscilla" class="profile-image">
                <div class="profile-info">
                    <h3>Priscilla</h3>
                    <p>Type: Dog</p>
                    <p>Age: 5 months </p>
                    <p>Gender: Female </p>
                    <p>Location: Victor,NY</p>
                    <a href="interpreter_profile.html?id=3" class="view-profile">View Profile</a>
                </div>
            </div>
        </div>
    </div>
</body>
