<!-- <body>
  

    <div class="header">
        <h1>Adopt a Pet!</h1>
        <p>Adopt your own pet!</p>
    </div>

    <div class="container">
        <div class="profiles">
            <div class="profile-card">
                <img src="../assets/Juan.png" alt="Juan" class="profile-image">
                <div class="profile-info">
                    <h3>Juan</h3>
                    <p>Type: Cat</p>
                    <p>Gender: Male </p>
                    <p>Age: 3 years old</p>
                    <p>Location: Greece,NY</p>
                    <p class="languages">Languages: English, Spanish, French</p>
                    <a href="interpreter_profile.html?id=1" class="view-profile">View Profile</a>
                </div>
            </div>

            <div class="profile-card">
                <img src="360_F_110790299_wdE1KqnWAlkjlfD8nujgEWuTtLzAnzxa.jpg" alt="Ricky" class="profile-image">
                <div class="profile-info">
                    <h3>Ricky</h3>
                    <p>Type: Cat</p>
                    <p>Age: 3 years old</p>
                    <p>Gender: Male </p>
                    <p>Location: Henrietta,NY</p>
                    <a href="interpreter_profile.html?id=2" class="view-profile">View Profile</a>
                </div>
            </div>

            <div class="profile-card">
                <img src="istockphoto-1288538088-612x612.jpg" alt="Priscilla" class="profile-image">
                <div class="profile-info">
                    <h3>Priscilla</h3>
                    <p>Type: Dog</p>
                    <p>Age: 5 months </p>
                    <p>Gender: Female </p>
                    <p>Location: Victor,NY</p>
                    <a href="interpreter_profile.html?id=3" class="view-profile">View Profile</a>
                </div>
            </div>
        </div>
    </div>
</body> -->
<h1 class = "adopt_title">Adopt a Pet!</h1>
<div class="pet-adoption-container">
    <div class="pet-cards">
      <div class="pet-card" *ngFor="let pet of pets">
        <img [src]="pet.image" alt="{{ pet.name }}" class="pet-image"/>
        <h2 class = "pet-name">{{ pet.name }}</h2>
        <p class = "pet-type"><span class = "pet-subtitle">Type:</span> {{pet.type}}</p>
        <p class = "pet-age"><span class = "pet-subtitle">Age:</span> {{ pet.age }}</p>
        <p class = "pet-gender"> <span class = "pet-subtitle">Gender:</span> {{pet.gender}}</p>
        <p  class = "pet-location"><span class = "pet-subtitle">Location:</span> {{pet.gender}} {{ pet.location }}</p>
        <iframe class = "map" src= "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d385.52767350107!2d-77.58989521486804!3d43.14406936489944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d6b50de963de59%3A0x924d4c0f95a952fc!2sDogtown!5e0!3m2!1sen!2sus!4v1731548307459!5m2!1sen!2sus" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p></p>
        <button (click)="adoptPet(pet)"class="adopt-button">Adopt Me</button>
      </div>
    </div>
  </div>