<div class = "mt-4">
  <header>
      <h1 class = "title">Pawsitive Connections</h1>
  </header>
  <main>
      <p class="body">Pawsitive Connections is a humanitarian website that supports pet owners and animal shelters by fulfilling their needs financially. Donations of all kinds are accepted, whether it be monetary or physical items.</p>
  
      <ul class="links">
          <li><button class="donate" routerLink="/heroes" routerLinkActive = "active">Donation page</button></li>
          <li><button class="adopt" routerLink="/adoption" routerLinkActive = "active">Adoption page</button></li>
          <li>
                <Button class="other">Placeholder</Button>
          </li>
      </ul>
      <img src="https://placehold.co/300x200" alt="dogs or sumthin">
  </main>
</div>